// Admin Theme

@import './admin-theme/style';

// Vendor Overrides
.fa-icon {
  display: flex;
  width: auto;
  height: 1em; /* or any other relative font sizes */

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}